@use "../../styles/global.scss";
@use "../../styles/constant.scss";
@use "../../styles/colors.scss";

.noitemimage {
  h1 {
    margin-top: 20px;
    font-weight: 800;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#000, colors.$nevyBlue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.wishListWrapper {
  padding: 70px 0;

  h2 {
    margin-top: 20px;
    font-weight: 800;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#000, colors.$nevyBlue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.wishListItemWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 50px;
}

.wishListBtn {
  background-color: colors.$nevyBlue !important;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  color: colors.$white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media (min-width: 768px) and (max-width: constant.$media-lg) {
  .wishListItemWrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: constant.$media-md) {
  .wishListItemWrapper {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .wishListWrapper {
    :global {
      img {
        width: 100%;
      }
    }
  }
}
