@use "../../styles/global.scss";
@use "../../styles/colors.scss";
@use "../../styles/constant.scss";

.container {
  padding-bottom: 70px;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 20px;
    font-weight: 800;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#000, colors.$nevyBlue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global {
    img {
      max-width: 700px;
      // width: 100%;
      height: auto;
      margin-top: 40px;
    }
  }
}
