@import "../../styles/global.scss";

.footer {
  background-color: rgba(0, 0, 0, 0.402);;
  // color: $white;
  color: black;
  min-height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
